<div class="footer">
    <div class="ui grid centered">
        <i class="icon envelope"></i><a>Contact Us</a> / <i class="icon envelope"></i><a>Contact Us</a> / <i class="icon envelope"></i><a>Contact Us</a>
    </div>
</div>

</div>

<script src="dist/semantic.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>