<% include partials/header %>

<div class="inner">
  <div class="ui grid">
    <div class="ui seven wide column">
      <img src="https://is241stl.files.wordpress.com/2018/09/dominguezandrew_2017012401548_squarespace.jpg" alt="" class="ui fluid image">
      <img src="https://is241stl.files.wordpress.com/2018/09/dominguezandrew_2017012401653_squarespace.jpg" alt="" class="ui fluid image">
      <img src="https://is241stl.files.wordpress.com/2018/09/dominguezandrew_2017012401490_squarespace.jpg" alt="" class="ui fluid image">
    </div>
    <div class="ui nine wide column middle aligned">
      <img src="https://is241stl.files.wordpress.com/2018/09/dominguezandrew_2017012401591_squarespace.jpg" alt="" class="ui fluid image">
    </div>
  </div>
</div>

<% include partials/footer %>