<% include partials/header %>

<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link text-secondary" id="apetizers" href="">Apetizers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" id="wraps" href="">Wraps & Sandwitches</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" id="entrees" href="">Entrees</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" id="kids" href="">Kids</a>
    </li>
</ul>

<div class="inner">

  <div class="row">
      <% menuItems.forEach(item => { %>
    <div class="col-sm-6 col-md-4">
      <div class="row">
        <div class="col-6">Description</div>
        <div class="col-6">Nutrition</div>
      </div>         
      <img src="<%= item.picture %>">
      <div class="row">
        <div class="col-8"><%= item.name %></div>
        <div class="col-4">$<%= item.price %></div>
      </div>
    </div>
    <% }); %>
  </div>   

</div>

<ul>
<% 
let selectedMenu = "Starters, Salads and Sides";
let loadedMenu = menuItems.filter(item => item.menu === selectedMenu); %>

<% loadedMenu.forEach(item => { %>

  <li><%= item.menu %></li>

<% });
%>
</ul>


<% include partials/footer %>