<% include partials/header %>

<div class="inner">
  <div class="ui centered grid">
    <div class="row">
      <div class="eight wide column">
        Your order was placed successfully, and will be ready for pick up in 30min.
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>