body {
  background-color: #efefef;
  min-height: 100%;
}

.ui.container {
  background-color: white;
  padding: 0;
  min-height: 100%;
}

.logo {
  background: url("/pictures/logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 180px;
}

.inner {
  padding: 2rem 2rem;
  min-height: 100%;
  margin-bottom: 100px;
}

.menu-inner {
  padding: 2rem 2rem;
  min-height: 100%;
}

.outer {
  padding: 0.25rem 0.5rem;
  min-height: 100%;
  
}

.ui.grid {
  margin-left: 0;
  margin-right: 0;
}

.ui.grid + .grid {
  margin-top: 0;
  margin-bottom: 0;
}

.ui.menu {
  margin: 0;
  border-radius: 0;
  font-size: 1.15rem;
}
.ui.menu.nav {
  display: none;
}

.footer {
  height: 100px;
  background-color: #b5d3d2;
  color: white;
  padding: 2rem;
}

.content .description {
  font-size: 12px;
}

.ui.inverted.green.menu {
  background-color: #b5d3d2;
}

.ui.green.button:hover, .ui.green.buttons .button:hover {
  background-color: #b5d3d2;
}

.ui.green.button:focus, .ui.green.buttons .button:focus {
  background-color: #b5d3d2;
}

.ui.green.button, .ui.green.buttons .button {
  background-color: #b5d3d2;
}

.ui.basic.green.button, .ui.basic.green.buttons .button {
  box-shadow: 0 0 0 1px #b5d3d2 inset !important;
  color: #b5d3d2 !important;
}

.ui.basic.green.button:hover, .ui.basic.green.buttons .button:hover {
  box-shadow: 0 0 0 1px #b5d3d2 inset !important;
  color: #b5d3d2 !important;
}

.ui.basic.green.button:focus, .ui.basic.green.buttons .button:focus {
  box-shadow: 0 0 0 1px #b5d3d2 inset !important;
  color: #b5d3d2 !important;
}