<% include partials/header %>


<div class="ui middle aligned center aligned grid">
  <div class="column">
      <h2 class="ui olive image header">
        <div class="content">
          Log in to your account
        </div>
      </h2>
      <form class="ui form" action="/backend/login" method="POST">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon olive"></i>
            <input type="text" name="username" placeholder="Username">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon olive"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <button class="ui button fluid olive" type="submit">Submit</button>
      </form>
  </div>
</div>
  

<% include partials/footer %>